// button
.mint-button {
    span {
        font-size: 12px;
    }
}

.mint-button--large {
    height: 48px;
}

.mint-button--primary {
    background-color: $colorPrimary;
    background-image:-webkit-linear-gradient(left, #0fb9df, #0cd3a1);
    background-image:linear-gradient(left, #0fb9df, #0cd3a1);

}

.mint-button--default {
    border-radius:4px;
    // font-size: 14px;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
    background-color: #fff;
    box-shadow: none;
}

.mint-button--radius {
    border-radius: 16px;
    border: 1px solid $colorTip;
    background-color: #efeff4;
    box-shadow: none;
}
.mint-button-cancel{
    @include pixelborder(all, $lineColor, 0);
    color: $colorTip;
    font-size: 12px;
    padding: 0 6px;
    height: 30px;
}

.btn-p-b {
    padding-bottom: 68px;
}

.footer-btnWrap {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 15px 10px;
    background-color: $backgroundColor;
    .mint-button{
        margin-top: 10px;
    }
}
.btn-noline{
    width: 100%;
    height: 40px;
    font-size: 13px;
    color: $colorPrimary;
    background: none;
    border: none;
    &.disable{
        color: #e9e9e9;
    }
}
