.city {
    color: $colorText;
    text-align: center;
    .chooseCity {
        @include pixelborder(all, #E4E8ED, 2px);
        height: 46px;
        line-height: 46px;
        margin: 10px 15px 60px;
        padding: 0 15px;
        background-color: #fff;
        text-align: left;
        .icon {
            width: 15px;
            height: 15px;
            background-image: url(~@/assets/icon.png);
            background-size: 100%;
            display: inline-block;
            float: right;
            margin-top: 14px;
        }
    }
}

.topbanner {
    color: $colorText;
    text-align: center;
    .icon {
        padding: 60px 0 46px;
    }
    p {
        padding: 10px 0;
    }
}

// 开始页
.start {
    color: $colorText;
    .intr {
        padding: 20px;
        text-align: center;
    }
    .sub-title {
      margin-bottom: 20px;
    }
    .page-button {
      position: absolute;
      bottom: 20px;
      width: 100%;
    }
    .title-pt {
        padding-top: 8px;
        padding-bottom: 5px;
    }
    p {
        font-size: 13px;
        line-height: 22px;
    }
}
