.icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.icon_bloodpressure {
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_bloodpressure.png);
}

.icon_change {
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_change.png);
}
.icon_check {
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_check.png);
}
.icon_check2 {
    width: 19px;
    height: 19px;
    background-image: url(~@/assets/icon_check2.png);
}
.icon_heartrate {
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_heartrate.png);
}
.icon_nofrineds {
    width: 50px;
    height: 50px;
    background-image: url(~@/assets/icon_nofrineds.png);
}
.icon_pwv{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_pwv.png);
}
.icon_qrcode{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_qrcode.png);
}
.icon_report{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_report.png);
}
.icon_sad{
    width: 80px;
    height: 80px;
    background-image: url(~@/assets/icon_sad.png);
}
.icon_scan{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_scan.png);
}
.icon_sleep{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_sleep.png);
}
.icon_smile{
    width: 80px;
    height: 80px;
    background-image: url(~@/assets/icon_smile.png);
}
.icon_sport{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_sport.png);
}
.userphoto{
    width: 36px;
    height: 36px;
    background-image: url(~@/assets/userphoto.png);
}
.icon_sport{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_sport.png);
}
.icon_empty{
    width: 50px;
    height: 50px;
    background-image: url(~@/assets/icon_empty.png);
}

.icon_analysis{
    width: 29px;
    height: 29px;
    background-image: url(~@/assets/icon_analysis.png);
}