// body {
//     background-color: $backgroundColor;
// }

.order {
    .list-service {
        padding-left: 10px;
    }
}
.service-detail{
  @include pixelborder(top, $lineColor, 0);
  li{
    padding:10px 0;
    margin-left: 10px;
    font-size: 12px;
    @include pixelborder(bottom, $lineColor, 0);
    p{
      font-size: 12px;
    }
  }
  h4{
    color: $colorDefault;
    padding-bottom: 4px;
  }
}
.servicelist {
    .mint-cell-text {
        // font-size: 16px;
    }
    .mint-cell-value {
        font-size: 14px;
    }
}

.priceList {
    background-color: $white;
    .mint-cell-value {
        span {
            &.amount {
                color: $colorTip;
            }
            &.unitPrice {
                width: 100px;
                text-align: right;
            }
            &.totalPrice {
                color: $colorPrimary;
            }
        }
    }
    .list-service .item > dt p{
      color: $colorDefault;
      padding-top: 5px;
    }
}

.storeInfo {
    margin-bottom: 10px;
    h3 {
        padding: 20px 0;
    }
    p {
        padding: 0 0 10px;
    }
    .phone {
        margin-top: -40px;
        height: 46px;
    }
}
.TradeLogDetail{

  .mint-cell-value{
    font-size:12px;
  }
}
.orderPrice {
    padding-bottom: 15px;
    .mint-cell-wrapper {
        padding-top: 15px;
    }
    .mint-cell-text {
        font-size: 16px;
    }
    .mint-cell-value {
        font-size: 24px;
    }
}
