//服务滑动块
.swipeList {
    background-color: $white;
    padding: 15px 0 0;
    height: 260px;
    h6 {
        color: $colorBlue;
    }
    h4 {
        b {
            font-size: 12px;
            color: $colorTip;
        }
    }
    .mint-swipe {
        padding: 0 10px;
    }
}

.serverWrap {
    height: 198px;
    padding: 0 10px;
    margin-top: 8px;
}

.moneyInfo {
    height: 80px;
    padding: 15px 0;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.packageInfo {
    position: relative;
    padding-top: 30px;
    .icon-tag {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    dl {
        dt {
            float: left;
            padding: 10px 4px 0;
        }
        dd {
            padding-left: 26px;
            font-size: 12px;
            padding-top: 2px;
            .total {
                float: right;
                vertical-align: bottom;
            }
            b {
                font-size: 14px;
                font-weight: normal;
            }
        }
        .icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .mt-progress {
        height: 10px;
        line-height: 10px;
        .mt-progress-runway,
        .mt-progress-progress {
            border-radius: 4px;
        }
    }
    .number {
        padding-bottom: 10px;
    }
    .time {}
}

.normal {
    @include blueBd;
    .mt-progress-runway {
        background-color: rgba($colorBlue, 0.2);
    }
    .mt-progress-progress {
        background-color: $colorBlue;
    }
    .icon-number {
        background-image: url(~@/assets/icon_bluelicense.png);
    }
    .icon-time {
        background-image: url(~@/assets/icon_bluemonth.png);
    }
}

.warn {
    @include redBd;
    .mt-progress-runway {
        background-color: rgba($colorPrimary, 0.2);
    }
    .mt-progress-progress {
        background-color: $colorPrimary;
    }
    .icon-number {
        background-image: url(~@/assets/icon_redlicense.png);
    }
    .icon-time {
        background-image: url(~@/assets/icon_redmonth.png);
    }
}

.gray {
    @include grayBd;
    .mt-progress-runway {
        background-color: rgba($colorTip, 0.3);
    }
    .mt-progress-progress {
        background-color: $colorTip;
    }
    .icon-number {
        background-image: url(~@/assets/icon_greylicense.png);
    }
    .icon-time {
        background-image: url(~@/assets/icon_greymonth.png);
    }
}

.serverDetail {
    .normal,
    .warn {
        color: $white;
        .mt-progress-runway {
            background-color: rgba($white, 0.3);
        }
        .mt-progress-progress {
            background-color: $white;
        }
        .icon-number {
            background-image: url(~@/assets/icon_whitelicense.png);
        }
        .icon-time {
            background-image: url(~@/assets/icon_whitemonth.png);
        }
    }
    .normal {
        background-color: $colorBlue;
    }
    .warn {
        background-color: $colorPrimary;
    }
    .gray{
      @include pixelborder(all, $lineColor, 0);
    }
    .icon-tag {
        display: none;
    }
    .serverWrap {
        margin-top: 0px;
    }
}
